/* all */
body {
    background-color: #FFFAF5;
    font-family: 'Poppins', serif;
    overflow-x: hidden;
}

/* navbar */
.navbar {
    width: 100%;
    padding: 0;
}

nav .container {
    padding: 0;
    max-width: 70%;
}

.icon-project {
    width: 34px;
    height: 34px;
}

a.navbar-brand {
    color: #5A5A5A;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.navbar ul li a {
    color: #5A5A5A;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    padding: 40px 20px 40px 20px;
}

.btn-contact {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    font-weight: 600;
    color: white;
    background-color: #F87661;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
    border: none;
    width: 124px;
    height: 44px;
    margin-left: 20px;
}

/* adap */
@media (max-width: 992px) {
    nav .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .navbar ul li a {
        padding: 20px 10px;
    }
}

/*home-section*/
.home-section {
    height: 522px;
    width: 100%;
    max-width: 70%;
    padding: 0;
}

.home-info h1 {
    font-weight: 700;
    color: #333333;
    font-size: 52px;
    line-height: 64px;
    width: 418px;
    height: 128px;
    padding: 10px 0px 10px 0;
    margin: 0 0 10px 0;
}

.home-info p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #828282;
    letter-spacing: -1.1%;
    width: 454px;
    height: 68px;
    margin: 0px;
    padding: 10px 0px 10px 0px;
}

.home-info .btn-contact {
    margin: 24px 0 0 0;
}

.home-images {
    width: 519px;
    height: 446px;
    margin: 0;
}

.home-first-img,
.home-second-img {
    opacity: 0.3;
    border-radius: 200px;
    background: #F87661;
    padding: 0;
}

.home-first-img {
    width: 194px;
    height: 310px;
}

.home-second-img {
    width: 279px;
    height: 446px;
}

/* statistics */
.stats-section {
    height: 324px;
    color: #FFFFFF;
}

.stats-block {
    width: 100%;
    max-width: 70%;
    background: linear-gradient(180deg, #FF9685 0%, #F87661 100%);
    height: 196px;
    border-radius: 14px;
}

.stats-info {
    margin: 0 12px 0 40px;
}

.stats-content {
    width: 138px;
    padding: 60px 0 60px 0;
}

.stats-content:nth-of-type(2) {
    margin: 0 40px 0 40px;
}

.stats-content-name,
.stats-content-num {
    padding: 2px 10px 2px 10px;
    gap: 10px
}

.stats-content-name {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: -1.1%;
    margin: 0;
}

.stats-content-num {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -2.2%;
    font-weight: 600;
    margin: 0;
}

.stats-separator {
    width: 1px;
    height: 74px;
    background-color: #FFFFFF;
}

.stats-testimoni img {
    padding: 46px 10px 46px 10px;
    margin: 0 36px 0 36px;
}

.stats-review {
    margin-right: 46px;
}

.stats-review h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -1.7%;
    margin: 0;
}

.stats-review p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -1.6%;
    margin: 0;
}

/* services */
.services-section {
    height: 606px;
    width: 100%;
    max-width: 70%;
    padding: 0;
}

.services-section h1 {
    color: #333333;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: -1%;
    padding: 10px 0 10px 0;
    margin: 0;
}

.services-info p {
    color: #828282;
    width: 517px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -1.1%;
    padding: 10px 0 10px 0;
    margin: 0 0 64px 0;
}

.services-elements {
    max-width: 100%;
}

.services-elem {
    min-width: 482px;
    height: 262px;
    border-radius: 30px;
    background: #FEE4DF;
    margin: 0 38px 0 0;
}

.services-elem-avatar {
    padding: 46px 10px 46px 10px;
    margin: 0 16px 66px 25px;
}

.services-elem-desc {
    padding: 61px 0 61px 0;
}

.services-elem-desc h3 {
    color: #5A5A5A;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -1.7%;
    margin: 0;
}

.services-elem-desc p {
    color: #5A5A5A;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.6%;
    margin: 14px 26px 14px 0;
}

.services-elem-desc button {
    width: 81px;
    height: 44px;
    border-radius: 6px;
    border: none;
    box-shadow: 0 0 0 3px rgba(248, 118, 97, 0.2);
    background: #CF6251;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.6%;
}

.elem-red {
    background: linear-gradient(180deg, #FF9685 0%, #F87661 100%);

    h3,
    p {
        color: #FFFFFF;
    }

    svg circle {
        fill: #CF6251;
    }
}

/* warranty */
.warranty-section {
    height: 418px;
}

.warranty-block {
    width: 100%;
    max-width: 70%;
    border-top: 1px solid #FEE4DF;
    border-bottom: 1px solid #FEE4DF;
}

.warranty-solo {
    width: 165px;
    height: 123px;
    border-radius: 100px;
    background-color: #FFCA0F;
}

.warranty-info {
    width: 45%;
    margin: 48px 0 64px 0;
}

.warranty-info p {
    color: #828282;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -1.1%;
    padding: 10px 0 10px 0;
    margin: 0;
}

.warranty-info h3 {
    color: #333333;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -2.2%;
    padding: 10px;
    margin: 0;
}

/* about */
.about-section {
    height: 662px;
    max-width: 100%;
    width: 70%;
    padding: 0;
}

.about-block {
    background: #D9E4E2;
    height: 534px;
    border-radius: 50px;
    padding: 0 94px 0 94px;
}

.about-info {
    width: 57%;
}

.about-info h1 {
    color: #333333;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: -1%;
    padding: 10px 0px 10px 0;
    margin: 0;
}

.about-info p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #828282;
    letter-spacing: -1.1%;
    padding: 10px 0px 10px 0px;
    margin: 0px;
}

.about-tick:nth-of-type(2) {
    margin: 18px 0 18px 0;
}

.about-tick h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -1.7%;
    margin: 0 0 0 14px;
}

.about-img {
    width: 279px;
    height: 446px;
    opacity: 0.3;
    border-radius: 200px;
    background: #F87661;
    padding: 0;
}

/* appointment */

.appointment-section {
    background: linear-gradient(180deg, #5D9388 0%, #42766C 100%);
    height: 470px;
    color: #FFFFFF;
    margin: 133px 0 121px 0;
}

.appointment-info {
    width: 70%;
    max-width: 100%;
}

.appointment-info h1 {
    width: 50%;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: -1%;
    padding: 10px 0 10px 0;
    margin: 0 0 14px 0;
}

.appointment-info p {
    width: 40%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -1.1%;
    padding: 10px 0 10px 0;
    margin: 0 0 14px 0;
}

.appointment-info button {
    margin: 0;
}

/* another */

.another-section {
    height: 741px;
    width: 100%;
    max-width: 70%;
    padding: 0;
}

.another-info h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: -1%;
    padding: 10px 0 10px 0;
    margin: 0;
    color: #333333;
}

.another-info p {
    font-size: 16px;
    width: 517px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -1.1%;
    padding: 10px 0 10px 0;
    margin: 0 0 64px 0;
    color: #828282;
}

.another-elements {
    width: 100%;
}

.another-elem {
    color: #5A5A5A;
}

.another-elem-img {
    width: 336px;
    height: 261px;
    background-color: #D7BFB8;
    border-radius: 30px;
}

.another-elem h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -1.7%;
    margin: 18px 0 0 0;
}

.another-elem p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.6%;
    margin: 8px 0 18px 0;
}

.another-elem button {
    width: 107px;
    height: 44px;
    border-radius: 6px;
    border: none;
    box-shadow: 0 0 0 3px rgba(248, 118, 97, 0.2);
    background: #CF6251;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.6%;
    margin: 0;
}

/* social */
.social-section {
    height: 624px;
    width: 100%;
    max-width: 70%;
    padding: 0;
}

.social-info h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: -1%;
    padding: 10px 0 10px 0;
    margin: 0 0 46px 0;

    span {
        color: #F87661;
    }
}

.social-elements {
    gap: 36px;
}

.social-two {
    gap: 18px;
}

.social-four {
    gap: 34px;
}

.social-two-img {
    width: 336px;
    height: 366px;
    background: #D9E4E2;
    border-radius: 20px;
}

.social-four-img {
    width: 151px;
    height: 165px;
    background-color: #D9E4E2;
    border-radius: 20px;
}

/* footer */

.footer-section {
    height: 600px;
    width: 100%;
    max-width: 70%;
    padding: 0;
    margin-top: 64px;
}

.footer-block {
    border-top: 1px solid #FEE4DF;
    padding: 64px 0 0 0;
}

.footer-logo,
.footer-home,
.footer-pages,
.footer-contact {
    gap: 10px;
}

.footer-logo {
    width: 28%;
    color: #42766C;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;

    h3 {
        margin: 0;
        padding: 40px 0 40px 0;
    }

    p {
        color: #828282;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -1.1%;
    }

    .social-icons {
        gap: 38px;
    }
}

.footer-home h3,
.footer-pages h3,
.footer-contact h3 {
    color: #5A5A5A;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -1.7%;
    margin: 0;
    padding: 40px 20px 40px 20px;
}

.footer-home a,
.footer-pages a,
.footer-contact a {
    color: #5A5A5A;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -1.1%;
    padding: 5px 20px 5px 20px;
}